<!--prettier-ignore-->
#errorCatcher Echo
#encoding UTF-8
#from datetime import datetime, timedelta
#set $diagrams_config = $DisplayOptions.get("diagrams", {})

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>weewx-rtn</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="favicon.ico" />
    <script defer="defer" src="dist/main.js"></script>
    <link href="dist/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="cds--g100 cds--layer-one">
      <header
        aria-label="Weewx Renton, WA, USA - "
        class="cds--header"
        role="banner"
      >
        <button
          aria-label="Open menu"
          class="cds--header__action cds--header__menu-trigger cds--header__menu-toggle cds--header__menu-toggle__hidden"
          title="Open menu"
          type="button"
        >
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            aria-hidden="true"
          >
            <path
              d="M2 14.8H18V16H2zM2 11.2H18V12.399999999999999H2zM2 7.6H18V8.799999999999999H2zM2 4H18V5.2H2z"
            ></path>
          </svg>
        </button>
        <a class="cds--header__name" href="/index.html" prefix="">
          <!--prettier-ignore-->
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve">
  <g>
    <path fill="#1E40AF" d="M1024,950c0,41.421-33.579,75-75,75H75c-41.421,0-75-33.579-75-75V76C0,34.579,33.579,1,75,1h874
		c41.421,0,75,33.579,75,75V950z"></path>
  </g>
  <g id="Sun">
    <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="364.764" y1="405.969" x2="455.595" y2="120.987"></line>

    <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="273.932" y1="690.951" x2="364.764" y2="405.969"></line>

    <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="646.109" y1="495.866" x2="361.004" y2="405.421"></line>
    <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="361.127" y1="405.034" x2="76.021" y2="314.59"></line>

    <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="365.026" y1="405.644" x2="630.651" y2="268.135"></line>
    <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="99.13" y1="543.01" x2="364.755" y2="405.5"></line>

    <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="361.761" y1="403.099" x2="221.129" y2="139.114"></line>

    <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="506.236" y1="668.637" x2="365.604" y2="404.653"></line>
    <circle fill="#FFFFFD" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" cx="364.546" cy="404.922" r="166.99"></circle>
  </g>
  <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="274.959" y1="736.733" x2="219.273" y2="819.853"></line>
  <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="383.292" y1="736.733" x2="282.046" y2="885.06"></line>
  <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="492.622" y1="736.733" x2="436.936" y2="819.853"></line>
  <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="600.955" y1="736.733" x2="499.709" y2="885.06"></line>
  <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="696.508" y1="736.733" x2="640.823" y2="819.853"></line>
  <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="804.842" y1="736.733" x2="703.596" y2="885.06"></line>
  <g>
    <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="18" stroke-miterlimit="10" d="M269.148,528.245
		c-62.37,0-113.114,51.061-113.114,113.829c0,60.251,47.618,104.612,113.246,105.433h524.147
		c77.387-0.821,138.062-59.775,138.062-134.168c0-76.142-61.92-138.088-138.062-138.088c-16.844,0-37.581,3.046-50.452,7.416
		c-4.847,1.668-10.064-0.821-11.944-5.562c-31.251-80.3-107.287-134.274-189.202-134.274c-101.408,0-192.089,86.577-202.18,192.99
		c-0.318,3.231-2.225,6.065-5.085,7.574c-2.887,1.51-6.33,1.404-9.111-0.185C308.265,533.435,288.8,528.245,269.148,528.245z"></path>
    <rect id="_Transparent_Rectangle_1_" x="312.37" y="275.786" fill="none" width="492.173" height="492.173"></rect>
  </g>
</svg>
          <span part="prefix" class="cds--header__name--prefix"
            >&nbsp;WeeWX</span
          >
          &nbsp;Woodside&nbsp;Weather
        </a>
        <nav aria-label="Carbon Tutorial" class="cds--header__nav">
          <ul class="cds--header__menu-bar">
            <li>
              <a href="/index.html" class="cds--header__menu-item" tabindex="0"
                ><span class="cds--text-truncate--end">Today</span></a
              >
            </li>
            <li>
              <a
                href="/yesterday.html"
                class="cds--header__menu-item"
                tabindex="0"
                ><span class="cds--text-truncate--end">Yesterday</span></a
              >
            </li>
          </ul>
        </nav>
      </header>
    </div>

    <div class="app-page" id="root"></div>
    <div class="cds--css-grid">
      <div
        class="cds--sm:col-span-4 cds--md:col-span-3 cds--lg:col-span-5 cds--css-grid-column"
      >
        <div class="cds--data-table-container">
          <div class="cds--data-table-header">
            <h4 class="cds--data-table-header__title" id="tc-:r1h:-title">
              latest observations
            </h4>
            <p
              class="cds--data-table-header__description"
              id="tc-:r1h:-description"
            />
          </div>
          <div class="cds--data-table-content">
            <table
              aria-labelledby="tc-:r1h:-title"
              class="cds--data-table cds--data-table--xs"
            >
              <tbody aria-live="polite">
                <tr>
                  <td>Barometer</td>
                  <td>$current.barometer</td>
                </tr>
                <tr>
                  <td>Visibility</td>
                  <td>$current.visibility</td>
                </tr>
                <tr>
                  <td>Ceiling</td>
                  <td>$current.ceiling</td>
                </tr>
                <tr>
                  <td>Dewpoint</td>
                  <td>$current.dewpoint &#176;F</td>
                </tr>
                <tr>
                  <td>Humidity</td>
                  <td>$current.outHumidity</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div
        class="cds--sm:col-span-4 cds--md:col-span-4 cds--lg:col-span-6 cds--css-grid-column"
      >
        <div class="cds--data-table-container">
          <div class="cds--data-table-content">
            <table
              aria-labelledby="tc-:r1h:-title"
              class="cds--data-table cds--data-table--xs"
            >
              <tbody aria-live="polite">
                <tr>
                  <td>
                    <p class="label">$gettext("Sun")</p>
                  </td>
                </tr>
                <tr class="stats">
                  <td>
                    <p class="label small">$gettext("Start civil twilight")</p>
                    <p class="value">
                      $almanac(horizon=-6).sun(use_center=1).rise
                    </p>
                  </td>
                  <td>
                    <p class="label small">$gettext("End civil twilight")</p>
                    <p class="value">
                      $almanac(horizon=-6).sun(use_center=1).set
                    </p>
                  </td>
                </tr>
                <tr class="stats">
                  <td>
                    <p class="label small">$gettext("Start nautic twilight")</p>
                    <p class="value">
                      $almanac(horizon=-12).sun(use_center=1).rise
                    </p>
                  </td>
                  <td>
                    <p class="label small">$gettext("End nautic twilight")</p>
                    <p class="value">
                      $almanac(horizon=-12).sun(use_center=1).set
                    </p>
                  </td>
                </tr>
                <tr class="stats">
                  <td>
                    <p class="label small">
                      $gettext("Start astronomic twilight")
                    </p>
                    <p class="value">
                      $almanac(horizon=-18).sun(use_center=1).rise
                    </p>
                  </td>
                  <td>
                    <p class="label small">
                      $gettext("End astronomic twilight")
                    </p>
                    <p class="value">
                      $almanac(horizon=-18).sun(use_center=1).set
                    </p>
                  </td>
                </tr>
                <tr class="stats">
                  <td>
                    <p class="label small">$gettext("Azimuth")</p>
                    <p class="value">$("%.1f&deg;" % $almanac.sun.az)s</p>
                  </td>
                  <td>
                    <p class="label small">
                      $pgettext("Astronomical", "Altitude")
                    </p>
                    <p class="value">$("%.1f&deg;" % $almanac.sun.alt)</p>
                  </td>
                </tr>
                <tr class="stats">
                  <td>
                    <p class="label small">$gettext("Right ascension")</p>
                    <p class="value">$("%.1f&deg;" % $almanac.sun.ra)</p>
                  </td>
                  <td>
                    <p class="label small">$gettext("Declination")</p>
                    <p class="value">$("%.1f&deg;" % $almanac.sun.dec)</p>
                  </td>
                </tr>
                <!--prettier-ignore-->
                #if $almanac.next_equinox.raw < $almanac.next_solstice.raw
                    ## The equinox is before the solstice. Display them in order.
                <tr class="stats">
                  <td>
                    <p class="label small">$gettext("Equinox")</p>
                    <p class="value">$almanac.next_equinox</p>
                  </td>
                  <td>
                    <p class="label small">$gettext("Solstice")</p>
                    <p class="value">$almanac.next_solstice</p>
                  </td>
                </tr>
                <!--prettier-ignore-->
                #else
                    ## The solstice is before the equinox. Display them in order.
                <tr class="stats">
                  <td>
                    <p class="label small">$gettext("Solstice")</p>
                    <p class="value">$almanac.next_solstice</p>
                  </td>
                  <td>
                    <p class="label small">$gettext("Equinox")</p>
                    <p class="value">$almanac.next_equinox</p>
                  </td>
                </tr>
                #end if
                <tr>
                  <td>
                    <p class="label small">$gettext("Total daylight")</p>
                    <p class="value">$almanac.sun.visible.long_form</p>
                    <p class="label small">
                      <!--prettier-ignore-->
                      $almanac.sun.visible_change.long_form
                          #if $almanac.sun.visible_change.raw < 0
                            $gettext("less than yesterday")
                          #else
                            $gettext("more than yesterday")
                          #end if
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>
      <!--prettier-ignore-->
      #if $almanac.hasExtras
      <div>
        <h2>$gettext("Last 24 hours")</h2>
        <div>$("%.1f&deg;" % $almanac.sun.alt)</div>
        <div class="value-col">
          <p class="label small">$gettext("Sunrise")</p>
          <p class="value">$almanac.sunrise</p>
        </div>
      </div>
      #end if
    </div>

    <div class="oklahoma"></div>
  </body>
</html>
